/*TAILWIND*/
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: linear-gradient(rgba(206, 136, 55, 0.5), rgba(0, 0, 0, 0.5)), url("https://images8.alphacoders.com/135/thumb-1920-1354012.png");
  background-size: cover;
  background-attachment: fixed;
}

.app-container {
  text-align: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.559);
  max-width: 1300px;
  margin: 3% auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
}
